{% schema %}
  {
    "name": "FAQ Section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "FAQ's"
      }, {
        "type": "text",
        "id": "subtitle",
        "label": "Subtitle",
        "default": "WE GOT ANSWERS TO YOUR QUESTIONS"
      }
    ],
    "blocks": [
      {
        "type": "faq",
        "name": "FAQ Item",
        "settings": [
          {
            "type": "text",
            "id": "question",
            "label": "Question",
            "default": "Enter your question here"
          }, {
            "type": "textarea",
            "id": "answer",
            "label": "Answer",
            "default": "Enter your answer here"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "FAQ Section",
        "blocks": [
          {
            "type": "faq"
          }, {
            "type": "faq"
          }, {
            "type": "faq"
          }
        ]
      }
    ]
  }
{% endschema %}

<div class="faq-container">
  <div class="h-[500px] w-full faq-wave flex justify-center pt-16">
    <div class="text-[#1F2937] helvetica w-[80%] lg:w-1/2 mx-auto my-16 text-center">
      <h3 class="mb-8">{{ section.settings.title }}</h3>
      <h1 class="text-3xl md:text-5xl font-[900]">{{ section.settings.subtitle }}</h1>
    </div>
  </div>

  <div class="faq-section w-[80%] md:w-[70%] lg:w-[60%] mx-auto my-16">
    <h3 class="text-2xl md:text-3xl helvetica text-[#1F2937] text-center font-[900] mt-8 mb-16">GENERAL</h3>
    <div id="faq-list">
      {% for block in section.blocks %}
        {% if block.type == 'faq' %}
          <div class="faq-item helvetica-regular" {{ block.shopify_attributes }}>
            <div class="faq-question" onclick="toggleAnswer({{ forloop.index0 }})">
              <span class="select-none font-[500]">{{ block.settings.question }}</span>
              <div class="fas fa-chevron-down">
                {% render "icon-down-faq" %}
              </div>
            </div>
            <div class="faq-answer select-none font-[500]">{{ block.settings.answer }}</div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "FAQPage",
    "mainEntity": [{% for block in section.blocks %}{% if block.type == 'faq' %}
        {
          "@type": "Question",
          "name": {{ block.settings.question | json }},
          "acceptedAnswer": {
            "@type": "Answer",
            "text": {{ block.settings.answer | json }}
          }
        }{% unless forloop.last %},{% endunless %}
      {% endif %}
      {% endfor %}]
  }
</script>

<style>
  .faq-container {
    width: 100%;
  }

  .faq-wave {
    background-image: url("{{ 'faq_wave.png' | file_img_url: "master" }}");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
  }

  .faq-section {
    background-color: #FFEBD2;
    padding: 20px;
    border-radius: 8px;
  }

  .faq-item {
    margin-bottom: 15px;
    border-bottom: 1px solid #000;
    padding-bottom: 25px;
  }

  .faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }

  .faq-question span {
    flex-grow: 1;
  }

  .faq-answer {
    display: none;
    margin-top: 10px;
  }
</style>

<script>
      function toggleAnswer(index) {
        const faqItems = document.querySelectorAll('.faq-item');
        const answer = faqItems[index].querySelector('.faq-answer');
        const icon = faqItems[index].querySelector('.fa-chevron-down');
    
        answer.style.display = answer.style.display === 'block' ? 'none' : 'block';
        icon.style.transform = answer.style.display === 'block' ? 'rotate(180deg)' : 'rotate(0)';
      }
</script>